@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wyższa Szkoła Bankowa w Poznaniu <br />
    Budynek CP<br />
    ul. Ratajczaka 5/7<br />
    <abbr title="Telefon">Tel:</abbr>
    +48 61 655 33 33
</address>

<address>
    <strong>Dziekanat:</strong>   <a href="mailto:dziekanat@wsb.poznan.pl">dziekanat@wsb.poznan.pl</a>
</address>