@{
    ViewBag.Title = "Home Page";
}

<h1 class="display-2">Witamy na @ViewBag.Nazwa</h1>

<p class="lead">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    Tyle o to kursu już za nami
</p>

<p class="lead">
    @if (DateTime.Now >= DateTime.Parse("24-09-2017 08:45:00"))
    {
        <div class="alert alert-warning" role="alert">Uwaga: Zaistniały zmiany w zakresie przedmiotu.</div>
    }
</p>