@{ 
    ViewBag.Title = "Index testów";
    var randomGen = new Random();
}

<h2>@ViewBag.Title</h2>

<ul class="list-group">
    @foreach (KeyValuePair<string,string> item in ViewBag.ListaObiektow)
    {
        <li class="list-group-item">
            <span class="badge">@randomGen.Next(1,100)</span>
        @Html.ActionLink(item.Key, item.Value, "Test")<span class="glyphicon glyphicon-education"></span></li>
    }
</ul>